@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  /* setup for rem (1rem = 16px , setup 1rem = 10px) */
  margin: 0;
  padding:0;
}

html, body {
  overflow: auto;
  height: 100%;
}
body {
  margin: 0;
  /* height: 100%; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Poppins', sans-serif;
  background: rgba(255,255,255,2) url('../public/Background.jpg');
}

/* Screen is full field (no empty spaces) */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display:flex;
  flex-direction:column;
  /* position:relative; */

  min-height: 100%;
  /* height: 100%; */
}

