.available-meal-container{
    position: relative;
    width:95%;
    margin: 0 auto;
    border-radius:0.7rem;
    box-shadow: 1rem rgba(0,0,0,0.7);
}
.available-meal-container h1{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-align: center;
    margin:1rem 0 ;
} 

.meal-list{
    display:grid;
    grid-template-columns: repeat(3, 2fr);  
    justify-items: center;
}

.mealSpinner {
    position: relative;
    margin-top: 3em;
    padding:.5em 0em;
    z-index:10;

}

@media screen and (max-width:1359px){
    .meal-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width:965px){
    .meal-list{
        grid-template-columns: repeat(1, 2fr);
    }
}

@media screen and (max-width:400px){
   .mealSpinner {
        /* margin-top: 3em; */
        /* padding:1em 0em; */
        /* padding-bottom:2em; */
        margin-bottom: 4em;

        z-index:10;
    }   

    .available-meal-container h1 {
        font-size: 1.8em;
    }
}
