@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Varela+Round&display=swap');
.available_meal_container{
    /* background-color:#C58877; */
    position: relative;
    width:95%;
    margin: 0 auto;
    border-radius:0.7rem;
    box-shadow: 1rem rgba(0,0,0,0.7);
}
.available_meal_container h1{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-align: center;
    margin:1rem 0 ;
} 


.meal_list{
    display:grid;
    grid-template-columns: repeat(3, 2fr);  
    justify-items: center;

}


@media screen and (max-width:1359px){
    .meal_list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width:965px){
    .meal_list{
        grid-template-columns: repeat(1, 2fr);
    }
}