@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

.backView{
    position:fixed;
    top:0;
    left:0;
    width:100%; /* 100vw same  */
    height: 100vh;
    background-color: #E6F4FA;
    filter:opacity(0.7);
    z-index: 20;
}

.modal{
    position:fixed;
    width:70vw;
    max-width: 800px;
    max-height: 90%;
    margin-bottom: 1rem;
    
    overflow-y: auto;
    /* center modal */
    top:50%;
    float:left;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: slideIn .1s ease-in;

    border-radius: 1rem;
    
    background-color: rgb(19, 19, 19);
    z-index: 30;
}

.modal-conatiner{
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color:#0a0a0a;
}

.modal-header >*{
    color:white;
    font-family: 'Handlee', cursive;
}

.modal-header:first-child{
    font-size: 1.1rem;
    padding-left: 1rem;
}

.modal-header button{ /* second div of modal-header */
    font-size:.9rem;
    font-weight: bold;
    margin-right:.7rem;

    cursor: pointer;

    background-color: transparent;
    border:transparent;
}

.modal-header button:hover{
    /* color:rgb(179, 40, 40); */
    color:rgb(168, 114, 114);
    /* font-size:.95rem; */
}

.modal-body{
    /* Centerlize body content */
    display: flex;
    justify-content: center;
}

.loading-modal-body{
    position: relative
}

.loading-modal-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.5); /* dark transparent overlay */
    z-index: 10; /* sits above the form */
}

.cartModal::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.modal::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #dadada;
    border: 1px solid #8d8d8d73;
    cursor: pointer;
}

.modal::-webkit-scrollbar-thumb:hover{
    background: rgb(235, 235, 235)
}

.modal::-webkit-scrollbar-thumb:active{
    /* background: linear-gradient(to left, #474f52, #414344); */
    background-color: #979c9e;
    
}


@media screen and (max-width:740px) {
    .modal{
        width:75vw;
    }

}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%)
    }
    100% {
      opacity: 1;
    }
  }
