.home-container{
  margin:2rem auto 0 auto;
  width:80%;
  height: 100%;
  max-width:1200px;
}
  
@media screen and (max-width:900px){
    .home-container{
      width:100%;
    }
}

@media screen and (max-width:650px) {
    .home-container{
      margin:-2rem 0 0 0;
    }
}