h1{
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    
}

.welcome{
    padding:1rem;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    margin:8rem 0rem 5rem 0;
}

.welcome p{
    margin:5px 0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:1.4rem;
    font-weight: 500;
}


.aboutUs-container{
    text-align: center;
    margin:5rem 0;
    padding:2rem 0;

    margin-bottom: 5rem;
}
.aboutUs-container p{
    margin:5px 5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:1.4rem;
    font-weight: 500;
}


.contactList{
    margin-top:4rem;
}

.contactItem{
    margin:3rem 0;
    position: relative;
}

/* ::after on all chidren of a contactItem except the last child */
.contactItem:not(:last-child)::after{
    content: '';
    display:block;
    position:absolute;

    left:50%;
    transform: translateX(-50%); 
  
    max-width:600px;
    width:80%;
    
    border-bottom: 1px solid black;
    margin:.5rem 0;
}

.contactImg{
    width:3.5rem;
    height: 3.5rem;
}
.contactName{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFound{
    margin:10rem 0 35rem 0rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:650px) {
    .welcome {
        margin-top: 6rem;
    }
}

@media screen and (max-width:400px) {

    h1{
        font-size: 1.5rem;
    }
    .welcome{
        margin-top:5rem;
        margin-bottom: 2rem;
    }
    .welcome p{
        font-size:1.2rem;
    }

    .aboutUs-container{
        margin:2rem 0 2rem 0;
    }

    .aboutUs-container p{
        font-size:1rem;
    }

    .contactList{
        margin-top:1rem;
    }

    .contactItem{
        margin:1.2rem 0;
        
    }

    .contactImg{
        width:2.5rem;
        height: 2.5rem;
    }
    
}