.products-container{
    position: relative;
    width:80%;
    /* Also made problem - root(parrent) is set to 100%*/
    height: 100%;
    max-width:1200px;
   
    /* SET MARGIN-bottom(third) TO AUTO FIIXED SPACE BETWEEN ORDERS AND FOOTER -> FOOTER IS SET ON BOOTOM */
    margin:8rem auto auto auto;
    
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;

    font-family: 'Handlee', cursive;
}

.product-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Handlee', cursive;
}

.add-product-part{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products-category-part{
    width: 100%;
    margin:3em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-category{
    margin:.5rem 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-self: center;
}

.category{
    margin:1rem 0rem;
}

.active-category button{
    background-color: aliceblue;
    color:black;
    font-weight: 600;
}

.category-select{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}

.category-select div:first-child{
    margin:0 1rem;
    font-family: 'Handlee', cursive;
    font-size: 2em;
    font-weight: 600;
}

.category-button{
    width: 6rem;
    height: 2rem;

    border:none;
    border-radius: .5rem;
    background-color: rgb(31, 29, 29);
    color:white;

    font-weight: 500;
    font-family: 'Handlee', cursive;
}

.category-button:hover{
    cursor: pointer;
    background-color: rgb(73, 73, 73);
    color:black;
    color:white;
}


.add-product-button{
    margin:.5rem 0rem 0rem 0rem;
    width: 11rem;
    height: 2.5rem;

    border:none;
    border-radius: .5rem;
    background-color: rgb(31, 29, 29);
    color:white;
    
    font-size: .9rem;
    font-weight: 600;
}

.add-product-button:hover{
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color:black;
}



@media screen and (max-width:1000px){
    .products-container{
        width:100%;
    }
}

@media screen and (max-width:650px){
    .products-container{
        margin-top:4em;
    }
}

@media screen and (max-width:500px){
    .products-category-part{
        width: 100%;
    }
    .products-category{
        width: 30%;
        margin:.1rem 0 .2rem 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .category-select div:first-child{
        font-size: 1.6em;
    }
}
