
/* Overriding Modal component wiht custom width */
.DeliveryModal{
    top:40%;
    width: 30%;
    min-width: 400px;
    max-width: 500px;
}
.delivery_container{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin:0rem 0rem;
}

.delivery_container h3{
    margin:1rem 0 0 0;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Handlee', cursive;
    color:white;
}

.delivery_input_fields{
    margin:0rem 0rem 1.1rem 0rem;
    width: 90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}


.delivery_input_fields input{
    height:1.9rem;
    width: 60%;
    margin:1rem 0;
    padding: 0rem 1rem;

    font-family: 'Handlee', cursive;
    border-radius: 5px;
    text-align: center;
}



.delivery_input_fields input:focus{
    align-self: center;
}

.delivery_input_fields button{
    width: 30%;
    height:1.8rem;
    
    font-weight: 600;
    font-family: 'Handlee', cursive;
    cursor: pointer;
    border-radius: 5px;
    border:1px solid black;
}

.delivery_input_fields button:hover{
    background-color:rgba(233, 241, 229, 0.87);
}