
.orders_table{
    margin-bottom:1rem;
    border-spacing: 0 1.5em;
    width: 100%;
    /* min-width: 1000px; */
}

.orders_table th{    
    background-color: rgb(27, 27, 27);
    letter-spacing: .5px;

    color:white;
    padding:1rem 1rem;
    font-weight: 400;
    text-transform: uppercase;

    /* animation: fadeIn 0.2s ease-in;  */
}


.orders_table tbody tr{
    position:relative;
    text-align: center;
    animation: fadeIn 0.2s ease-in; 
}

.orders_table td{
    background-color: rgba(63, 63, 63, 0.8);
    height: 4.5rem; 
}

.orders_table tbody th{
    margin:1rem;
}

/* Set order radies top-left and bottom-left of the first table el */
.orders_table td:first-child,
.orders_table th:first-child {
  border-radius: 6px 0 0 6px;
}
/* Set border-radius on the top-right and bottom-right of the last table el*/
.orders_table td:last-child,
.orders_table th:last-child {
  border-radius: 0 6px 6px 0;
}

.orders_table td:nth-child(2){
    padding-right: .5em;
}
.orders_table td:nth-child(4){
    padding:0em .3em;
    white-space: nowrap;
}

.pending-tr td{
    background-color: rgb(243, 243, 243);
}

.confirm_button{
    width: 4rem;
    height: 2rem;

    position:absolute;
    top:-1.1rem;
    right:-1rem;

    border:none;
    border-radius: 3px;
    background-color: rgb(41, 40, 39);
    font-family: "Poppins", sans-serif;
    color:white;
    cursor: pointer;
}

.confirm_button:hover{
    background-color: rgb(20, 20, 20);
    color:white;
}


#products-td .product-item {
    display: block;     
    margin: 0;             
    padding: 0;
}

#products-td {
    padding: .2rem 1.3rem; /* match other td cells */
}

@media screen and (max-width:1150px){
    .orders_table{
        width: 100%;
        min-width: unset;
    }

    .confirm_button{
        top:-1em;
        right:-1em;

        width: 3.8rem;
        height: 1.8rem;
    }
}
@media screen and (max-width:840px){

    .orders_table{
        margin:1rem 0rem;
    }
    
    .orders_table th{
        padding:1rem 1rem;
        margin:1rem 0rem;
    }
    .orders_table tbody th{
        margin:1rem;
    }

    .confirm_button{
        width: 3.8rem;
        height: 1.7rem;

        font-size: .7rem;
    }
}

@media screen and (max-width:720px) {
    .users_input_field div{
        display:flex;
        flex-direction: column;
    }

    .orders_table{
        margin:1rem 0rem;
    }
    
    .orders_table td:nth-child(2){
        padding-right: .1em;
    }
    .orders_table td:nth-child(4){
        padding:0em .1em;
        white-space: unset;
    }

}

@media screen and (max-width:650px){

    .orders_table th{
        padding:.6rem 1rem;
        text-transform: unset;
    }

    .orders_table td{
        height: 2.8rem; 
    }

    .confirm_button{
        width: 3rem;
        height: 1.3rem;
        top:-.7rem;
        right:-1rem;

        font-size: .6rem;
    }
    
}

/* MOBILE VIEW */
@media screen and (max-width:540px){

    .orders_table{
        font-size:.9rem;
        margin:1rem 0rem;
        border-spacing: .0em 0em;
        width: 95%;
    }

    .orders_table th{
        display: none;
    }
    .orders_table td{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:21ch auto;
        background-color: rgba(63, 63, 63, 0.8);
        text-align: start;
        padding:.2rem 1.3rem;
    }

    #products-td .product-item {
        padding:.1em 0em;
        display: block;
        grid-column: 2; /* force into value column */
    }

    .pending-tr td{
        background-color: rgb(230, 230, 230);
    }

    .orders_table td:first-child,
    .orders_table th:first-child {
        border-radius: 6px 0 0 6px;
        border-radius: unset;
    }
    /* Set border-radius on the top-right and bottom-right of the last table el*/
    .orders_table td:last-child,
    .orders_table th:last-child {
        border-radius: 0 6px 6px 0;
        border-radius: unset;
    }

    .orders_table tr td:first-child{ 
        border-radius: 6px 6px 0px 0px;
        padding-top:1em;
    }

    .orders_table tr td:last-child{ 
        border-radius: 0px 0px 6px 6px;
        margin-bottom: 1em;
        padding-bottom:1em;
    }

    .confirm_button{
        width: 5rem;
        height: 1.7rem;
        
        position:relative;
        top:0;
        right:0;
        font-size: .7em;
    }

    .orders_table td::before{
        content: attr(data-cell);
        font-weight: 600;
        
    }
    .orders_table .button-td::before{
        content: none;
    }
}


@media screen and (max-width:420px){
    .orders_table{
        font-size:.7rem;
        width: 95%;
    }

    .orders_table td{
        padding:.2rem 1.2rem;
        grid-template-columns:23ch auto;
    }

    .confirm_button{
        width: 4rem;
        height: 1.3rem;
        
        position:relative;
        top:0;
        right:0;
        font-size: .7em;
    }

    #products-td{
        padding:.2rem 1.7em;
    }
}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }