.profile_container{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* this made problem (on label click input is added below it
    and move the input from up a little bit  */
    /* justify-content: center; */

    margin-top:5rem;
    margin-bottom: 6rem;

    /* bug with fixed added height - on input adding form height can
    be bigger then 70vh and this container will be showened over footer   */
    /* height: 70vh;*/
    min-height: 70vh;
    width:100%;

}

.profile_title{
    margin-bottom: .2rem;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

.input_container{

    padding:2rem 3rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 10px;

    width:40%;
    max-width: 500px;
    min-width: 400px;

    position: relative;
    top:2rem;

    
}


/* .input_field{
    display: flex;
} */
.input_field{
    display:flex;
    flex-direction: column;
    padding:.5rem 0rem;
}


.input_field input{
    margin-top:0.2rem;
    margin-left:0.5rem;
    /* box-sizing: border-box; */
    
    border:none;
    background-color: transparent;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.781); */
    border-bottom: 2px solid rgba(255, 255, 255, 0.781);
    width: 12rem;
    color:white;
    font-size: 14px;
    outline: none;
    
}
.input_field input::placeholder{
    color:white;
}

.input_field input:hover::placeholder{
    color:white;
}



.input_container div{
    margin:0.5rem 0.5rem;
    cursor: pointer;
    color:white;
}

/* .input_container div:hover {
    font-weight: 600;
} */
.input_field div{
    color:rgb(241, 238, 238);
    font-weight: 600;
}
.input_field span{
    color:rgb(192, 179, 179);
    font-weight: 400;
}

.input_field:hover{
    font-weight: 600;
}


.errorInput{
    border-bottom: 2px solid rgb(190, 48, 48);
    color:red;
}

.errorInputLabel{
    margin-left:0.4rem;
    color:rgb(190, 48, 48);
    font-weight: 500;
    font-size:14px;
}

.password_form{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.password_input{
    display:flex;
    flex-direction: column;
}



.commit_container{
    
}

.commitButton{
    width: 8rem;
    height: 2rem;
    
}

.editButton{
    width: 8rem;
    height: 2rem;
}


.user_info{
    background-color:rgb(255, 249, 237);
    position: relative;
    height: 2rem;
    width: max-content;
    padding:0rem 2rem;
    border-radius: 5px;

    font-size:1.1rem;
}

.user_info:hover span{
   color:rgb(172, 170, 62);

}


.user_info span{
    color:black;
    font-weight: 600;
    font-size:1rem;
    font-family: 'Averia Sans Libre', cursive;
}

/* .user_info span:hover{
    color:rgb(148, 147, 67);
    font-weight: 600;
} */

.user_info .input_label{
    position: absolute;
    color:rgb(73, 110, 211);
    color:rgb(248, 244, 187);
    top:-1.9rem;
    left:-1.2rem;
    font-size:1rem;
    font-family: 'Averia Sans Libre', cursive;
    letter-spacing: .05rem;
}



@media screen and (max-width:450px){

    .profile_container{
        margin-top:7rem;
    }

    .input_container{
        min-width: 350px;
        padding:2rem 1rem;
        
    }

    .profile_title{
        margin-bottom: .1rem;
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem;
    }
}


@media screen and (max-width:350px){
    .profile_container{
        margin-top:7rem;
    }

    .input_container{

        padding:1rem 1rem;

        min-width: 300px;
        font-size:.8rem;
        
    }

    .profile_title{
        margin-bottom: .1rem;
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem;
    }

    .input_field input{
        font-size: .7rem;;
    }

    .errorInputLabel{
        font-size: .7rem;
    }

}