.profile-container{ 
    /* bug with fixed added height - on input adding form height can
    be bigger then 70vh and this container will be showened over footer   */
    /* height: 70vh;*/
    min-height: 70vh;
    width:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* this made problem (on label click input is added below it
    and move the input from up a little bit  */
    /* justify-content: center; */
    margin-top:7rem;
    margin-bottom: 6rem;

    font-family: 'Handlee', cursive;
}

.profile-title{
    /* margin-bottom: .2rem; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Handlee', cursive; */
    font-weight: 600;
    font-size: 1.2em;
    /* font-size: 2rem; */
}

.input-profile-container{
    height: 50%;
    width: 70%;
    max-width: 550px;
    margin:1.3rem 0rem;
    padding:3rem 3rem 2.5rem 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(17, 17, 17, 0.918);
    border-radius: 10px;
}


.input-field{
    margin:1.5rem 0rem;
    cursor: pointer;
    color:white;
    /* font-family: 'Handlee', cursive; */
}

.password-form{
    width: 100%;
}

.password-input-container{
    display:flex;
    flex-direction: column;
}

.password-input-container input{
    width: 100%;
    
    font-family: 'Handlee', cursive;
    font-size: 14px;
    color:white;
    padding:.6em .3em .1em .3em;
    border:none;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.781);
    outline: none;
}

.password-input-container input::placeholder{
    color:white;
}

.commit-container{
    display: flex;
    justify-content: center;
}

.commitButton{
    width: 8rem;
    height: 2rem;

    width: 45%;
    height: 2.3em;

    border:none;
    border-radius: 8px;

    font-family: 'Handlee', cursive;
    font-weight: 500;
    font-size: 1em;
    color:white;

    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.commitButton:hover{
    background-color: rgb(167, 167, 167);
    background-color: #b9ddfff1;;
    color:black;
    font-weight: 600;
}

.commitButton:disabled{
    background-color: rgba(0, 0, 0, 0.288);
    color:rgba(255, 255, 255, 0.315);
    cursor:unset;
}


@media screen and (max-width:650px){
    .profile-container{
        margin-top:2rem;
    }
    .input-profile-container{
        width: 90%;
    }
}

@media screen and (max-width:450px){

    .profile-container{
        /* margin-top:7rem; */
    }

    .input-profile-container{
        /* min-width: 350px;
        padding:2rem 1rem; */
        
    }

    .profile-title{
        /* margin-bottom: .1rem;
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem; */
    }
}


@media screen and (max-width:350px){
    .profile-container{
        /* margin-top:7rem; */
    }

    .input-profile-container{
        padding:3rem 1.2rem 2rem 1.2rem;
    }

    .input-field{
        margin:1.2rem 0rem;
    }

    .input-container{

        /* padding:1rem 1rem;

        min-width: 300px;
        font-size:.8rem;
         */
    }

    .profile-title{
        /* margin-bottom: .1rem;
        font-size: 1.5rem; */
    }

    .errorInputLabel{
        /* font-size: .7rem; */
    }

}