.productDelete{
    top:50%;
    width: 50%;
    min-width: 500px;
    max-width: 550px;
}

.product-del-container{
    width: 100%;
    padding:1rem 0 1.5em 0;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: .8rem;

    font-family: 'Handlee', cursive;
    color:white;

}

.product-del-title{
    padding:.5em 0 1em 0;
    font-size: 1.2em;
    text-align: center;
}

.product-del-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin:1em 0 .5em 0;
}

.product-del-option label{
    margin-bottom: .2rem;
    text-align: center;
}

.product-del-option-btn{
    width:10em;
    height: 2em;

    border: none;
    border-radius: 8px;

    font-family: 'Handlee', cursive;
    font-weight: 600;
    color:black;

    cursor: pointer;
}

.product-del-option-btn:hover{

    background-color: #6b6b6b;
    color:white;
    font-weight: 500;
}

.active-del-btn{
    background-color: #6b6b6b;
    color:white;
    font-weight: 500;
}

.active-del-btn:hover{
    background-color: #444444;
}


.product-confirm-del-buttons{
    margin-top: .3em;
    display: flex;
    justify-content: space-evenly;
}
.product-confirm-del-buttons button{
    width: 30%;
    height: 1.8em;
    
    border:none;
    background-color: rgba(115, 62, 62, 54);
    color:white;
    font-family: 'Handlee', cursive;

    cursor: pointer;
}
.product-confirm-del-buttons button:hover{
    background-color: rgba(177, 68, 68, 54);
}

@media screen and (max-width:500px){
    .productDelete{
        width: 95%;
        min-width: 300px;
    }
    .product-del-container{
        font-size: .9em;
    }

    .product-del-option-btn{
        width:9em;
    }
}

@media screen and (max-width:300px){
    .productDelete{
        min-width: 220px;
    }
    .product-del-container{
        font-size: .75em;
    }
}