.footer-container{
    width:100%;
    position:relative;
    padding:2rem 0rem;
    bottom:0;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: "Poppins", sans-serif;
    background-color: #232321;
    color:white;
    
    z-index: 19;
}

.footer_links{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.footer_link{
    padding:.1rem 0;
    font-size: 1em;
}

.footer_links.not-admin{
    visibility: hidden;
}

.footer_link >*{
    color:white;
}

.copyright{
    font-size:1.1em;
}

.social_icons{
    display:flex;
    flex-direction: row;
}

.social_icons a{
    margin-left: .6rem;
}

.social_icons img{
    width:2rem;
    height: 2rem;
}

@media screen and (max-width:650px) {
    .social_icons img{
        width:1.7rem;
        height: 1.7rem;
    }

    .footer_link{
        font-size: .8em;
    }

    .copyright{
        font-size:.9rem;
    }
}


@media screen and (max-width:470px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        padding:1rem 0rem;
    }

    .footer_links{
        order:0;
        align-items: center;
    }
    .social_icons img{
        width:1.4rem;
        height: 1.4rem;
        order:1;
        justify-self: start;
    }



    .copyright{
        font-size:.9rem;
        order:2;
    }
}