/* THIS PASSED AS PROPERTY TO MODAL COMPONENT */
.loginModal{
    width: 30%;
    min-width: 450px;
    max-width: 600px;
    min-height: 380px;
    overflow: hidden;
}

.loginForm{
    height: 50%;
    width: 75%;
    padding:1rem 0rem;

    font-family: 'Handlee', cursive;
}

.loadingBackground{
    opacity: 1;
    z-index: 40;
}

.loader{
    position:absolute;
    left:45%;
    top:40%;
    /* transform: translate(-50%, -50%); */

    border:10px solid rgb(0, 0, 0);
    border-top: 10px solid #dee1e4;
    border-radius: 50%; 
    width:70px;
    height:70px;
    animation: spin 1s  infinite;

    opacity: 1;
    z-index: 40;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.welcome-text{
    color:white;
    padding:.5em 0em .5em 0em;
}

.welcome-text div:first-child{
    padding-bottom: 1em;
    text-align: center;
}

.input-login-container{
    width: 100%;

}
.input-login{
    padding:.3em 0em;
}

.login-button-container{
    margin:.8em 0;
    display: flex;
    justify-content: center;
}

.login-button-container button{
    width: 50%;
    height: 2.3em;

    border:none;
    border-radius: 11px;

    font-family: 'Handlee', cursive;
    font-weight: 600;
    color:black;

    cursor: pointer;
}
.login-button-container button:hover{
    background-color: rgb(214, 214, 214);
}

#create-acc-div{
    margin:2em 0 1.5em 0;
    color:white;
}
#text-acc a {
    color:rgb(199, 199, 199);
}

@media only screen and (max-width:461px){
    .loginModal{
        width: 90%;
        min-width: 320px;  
    }
    .loginForm{
        position: relative;
        top:-.5rem;
        min-height: 150px;
    }
    .loadingBackground{
        position:absolute;
        background-color: rgba(14, 10, 8, 0.61);
        height: 20rem;
        
    }

    .register_input_field label{
        font-size: .8rem;
        font-weight: 600;
    }
}

@media only screen and (max-width:320px){
    .loginModal{
        width:95%;
        min-width: 200px;
    }

    .loginForm{
        width: 85%;
        font-size: .9rem;
    }
}


