/* THIS PASSED AS PROPERTY TO MODAL COMPONENT */
.loginModal{
    width: 30%;
    min-width: 450px;
    max-width: 600px;
    min-height: 380px;
    overflow: hidden;
}

.loginForm{
    height: 50%;
    width: 75%;
    padding:1rem 0rem;

    font-family: 'Handlee', cursive;
}

.loadingBackground{
    background-color: rgba(20, 20, 20, 0.6); 
    z-index: 50;
}

.welcome-text{
    color:white;
    padding:.5em 0em .5em 0em;
}

.welcome-text div:first-child{
    padding-bottom: 1em;
    text-align: center;
}

.input-login-container{
    width: 100%;

}
.input-login{
    padding:.2em 0em .1em 0em;
}

.login-button-container{
    margin:.8em 0;
    display: flex;
    justify-content: center;
}

.login-button-container button{
    width: 50%;
    height: 2.3em;

    border:none;
    border-radius: 11px;

    font-family: 'Handlee', cursive;
    font-weight: 600;
    color:black;

    cursor: pointer;
}
.login-button-container button:hover{
    background-color: rgb(214, 214, 214);
}

#create-acc-div{
    margin:2em 0 1.5em 0;
    color:white;
}
#text-acc a {
    color:rgb(199, 199, 199);
}

#text-acc span{
    text-decoration: underline;
    cursor: pointer;
}
#text-acc span:hover{
    color:rgb(192, 192, 192)
}

@media only screen and (max-width:461px){
    .loginModal{
        width: 90%;
        min-width: 320px;  
    }
    .loginForm{
        position: relative;
        top:-.5rem;
        min-height: 150px;
    }
    /* .loadingBackground{
        position:absolute;
        background-color: rgba(14, 10, 8, 0.61);
        height: 20rem;
        
    } */

    .register_input_field label{
        font-size: .8rem;
        font-weight: 600;
    }
}

@media only screen and (max-width:320px){
    .loginModal{
        width:95%;
        min-width: 200px;
    }

    .loginForm{
        width: 85%;
        font-size: .9rem;
    }
}


