.notification-container{
    z-index: 100;

    position:fixed;
    right:-400px;
    top:6rem;
    min-width:15rem;
    min-height: 3rem;

    padding:0rem 2rem;
    
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    border-radius: 1rem;
    box-shadow: rgb(20, 5, 5) 5px 5px 15px 10px;

    animation: movein .5s ease forwards, moveout .5s 2s  ease forwards;
}
.notification-icon{
    position:absolute;
    left:-.9rem;
    top:.4rem;
    font-size:2rem;
}
.notification-icon.errorIcon{
    color:rgb(172, 32, 32);
}
.notification-icon.successIcon{
    color:rgb(22, 122, 22);
    left:-.6rem;
}


.notification-context{
    font-family: 'Handlee', cursive;
    padding:.1rem;
    font-size:1rem;
    letter-spacing: .02rem;
    font-weight: 600;
}


.error{
    /* background-color: rgb(204, 6, 6); */
    background-color: rgb(201, 181, 181);
}
.success{
    background-color: rgb(236, 252, 227);
}

@media screen and (max-width:610px) {
    .notification-container{
        top:5.5rem; 
        padding:0rem 2rem;

        min-height: 2.5rem;
    }

    .notification-icon{
        position:absolute;
        left:-.9rem;
        top:.1rem;
        font-size:2rem;
    }
    
    .notification-context{
        /* font-family: 'Fredoka One', cursive; */
        font-family: 'Kalam', cursive;
        padding:.1rem;
        font-size:.9rem;
        font-weight: 900;
    }

}




@keyframes movein {
    from {right: -200px}
    to {right: 2%}
}

@keyframes moveout {
    from {right:2%}
    to {right:-500px}
}

