@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.notification-container{
    z-index: 100;
    /* width:15rem;
    height: 4rem; */
    position:fixed;
    /* right:0; */
    /* right:1rem; */
    right:-400px;
    
    top:6rem;

    /* width:15rem;
    height: 3.5rem; */

    min-width:15rem;
    min-height: 3.5rem;

    /* border:2px solid black; */
    box-shadow: rgb(20, 5, 5) 5px 5px 15px 10px;

    padding:1rem 2rem;
    

    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    border-radius: 1rem;

    animation: movein .5s ease forwards, moveout .5s 2s  ease forwards;
    
}

.notification-title{
    
    margin:.4rem 0;
    font-size:1rem;
    font-weight: 500;
}

.notification-context{
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Kalam', cursive;
    padding:.1rem;
    font-size:1.3rem;
    font-weight: 900;
}

.error{
    background-color: rgb(204, 6, 6);
}
.success{
    background-color: rgb(37, 165, 37);
}

@media screen and (max-width:610px) {
    .notification-container{
        min-width:15rem;
        min-height: 3rem;

        max-width:20rem;
        max-height: 4rem;
        top:8rem;

        /* border: 1px solid black; */

        padding:.5rem 1rem;
    }

    .notification-title{
        margin:.5rem 0;
        font-size:1rem;
        font-weight: 500;
    }
    
    .notification-context{
        /* font-family: 'Fredoka One', cursive; */
        font-family: 'Kalam', cursive;
        padding:.4rem;
        font-size:1.0rem;
        font-weight: 900;
    }

}




@keyframes movein {
    from {right: -200px}
    to {right: 2%}
}

@keyframes moveout {
    from {right:2%}
    to {right:-500px}
}

