@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

.registerModal{
    width:50%;
    min-width: 500px;
    max-width: 650px;
}

/* .form-actions{
    height:1rem;
    width: 2rem;
} */

.regForm{
    display: flex;
    flex-direction: column;
    margin:2rem 0rem;
    height: 50%;
}

.registerControl-input{
    display: flex;
    padding:.7rem 3rem;
    /* with set height InputForm height ins't changing on showing error  */
    height: 3.2rem; 
    
}


.reg_label{
    /* flex:1; */
    flex:1;
    color:rgb(0,0,0);
    font-family: 'Tillana', cursive;
    font-weight: 600;
    font-size:1rem;
    letter-spacing: .05rem;
}


.register_input_field {
    flex:1;
    display: flex;
    flex-direction: column;
} 

.register_input_field input{
    /* flex:1; */
    flex:1;

    border:none;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
    outline: none;
    color:white;

    font-family: 'Tillana', cursive;
    font-size: .9rem;
    font-weight: 500;
    border:none;
    background-color: transparent;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    color:rgb(0,0,0);
   
}

.register_input_field input:focus{
    border-bottom: 2px solid rgba(0, 0, 0, 0.800);
}

.register_input_field input::placeholder{
    color:rgb(0,0,0);
    opacity: 0.6;
    font-style: italic;
    font-size: .8rem;
}

.register_input_field .error{
    border-bottom: 2px solid rgba(216, 20, 20, 0.842);
}
.register_input_field .error:focus{
    border-bottom: 2px solid rgba(206, 7, 7, 0.993);
}

.register_input_field label{
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .05rem;
    font-family: 'Shadows Into Light', cursive;
    color:rgb(236, 0, 0)
}

.registerError{
    margin-left: 1rem;
    color:white;
}
.registerError span{
    color:rgb(207, 34, 34);
    font-size:.9rem;
    
}


.registerForm_submit{
    display:flex;
    justify-content: flex-end;
    margin:.1rem .5rem .1rem 0;
}
.registerForm_submit button{

    cursor: pointer;
    /* height: 1.7rem; */
    border:2px solid black;
    border-radius: .5rem;

    font-family: 'Averia Sans Libre', cursive;
    font-size: 1rem;
    font-weight: 500;

    height: 2rem;
    width: 5.5rem;
}

.registerForm_submit button:hover{
    color:white;
    background-color:rgb(124, 124, 124);
    
}




@media only screen and (max-width:461px){
    .registerModal{
        width:40%;
        min-width: 400px;
        max-width: 420px;
        /* max-width: 400px;    */
    }


    .registerControl-input{
        display: flex;
        padding:.7rem 2rem;
        /* with set height InputForm height ins't changing on showing error  */
        height: 3.2rem; 
        
    }

    .reg_label{
        font-size:.9rem;
        letter-spacing: .04rem;
    }



}

@media only screen and (max-width:360px){
    
}