.registerModal{
    width:50%;
    min-width: 500px;
    max-width: 650px;
    min-height: 560px;
    overflow: hidden;
}

.regForm{
    margin:1.3rem 0rem;
    height: 50%;
    width: 70%;
    
}

.title-text{
    margin-bottom:.5em;
    text-align: center;
    
    color:white;
    font-family: 'Handlee', cursive;
    font-size: 1.2em;
    font-weight: 500;
}


.input-register-container{
    width: 100%;
}

.input-register{
    padding:.1em 0em .5em 0em;
}

.register-button-container{
    margin:.8em 0;
    display: flex;
    justify-content: center;
}

.register-button-container button{
    width: 50%;
    height: 2.3em;

    border:none;
    border-radius: 11px;

    font-family: 'Handlee', cursive;
    font-weight: 600;
    color:black;

    cursor: pointer;
}

.registerControl-input{
    display: flex;
    padding:.7rem 3rem;
    /* with set height InputForm height ins't changing on showing error  */
    height: 3.2rem; 
    
}


@media only screen and (max-width:520px){
    .registerModal{
        width:90%;
        min-width: 400px;
    }
}

@media only screen and (max-width:412px){
    .registerModal{
        width:90%;
        min-width: 300px;
    }

    .regForm{
        width: 80%;
    }
}

@media only screen and (max-width:312px){
    .registerModal{
        width:95%;
        min-width: 250px;
        /* max-width: 420px; */
        /* max-width: 400px;    */
    }

    .regForm{
        width: 90%;
        font-size: .9rem;
    }

    .input-register-container .form-input-controll{
        font-size: .9em;
    }

    .input-register-container .form-input-field input{
        font-size:.7rem;
    }

}